# Dependencies
node_modules/

# Build output
dist/

# Editor
.DS_Store
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# Misc
fuyera-dist.tar.gz
zipmjy9P

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
